In [1]:
import configparser

In [2]:
config = configparser.ConfigParser()
config.read("dl.cfg")

user = config.get("redshift", "user")
password = config.get("redshift", "password")
host = config.get("redshift", "host")
database = config.get("redshift", "database")
port = config.get("redshift", "port")

In [3]:
con_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

In [4]:
%load_ext sql

In [5]:
%sql $con_string

## check across whole country on state level

Where are the weather stations located?

In [7]:
%%sql
SELECT us_state, COUNT(station_id)
FROM weather_stations
GROUP BY us_state
ORDER BY count DESC
LIMIT 10

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[('TX', 40),
 ('AK', 29),
 ('CA', 26),
 ('NY', 16),
 ('MT', 16),
 ('MI', 15),
 ('NE', 14),
 ('MN', 13),
 ('KS', 13),
 ('FL', 13)]

In [9]:
%%sql
SELECT us_state, COUNT(wildfire_id)
FROM wildfires
GROUP BY us_state
ORDER BY count DESC

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
52 rows affected.

[('CA', 189550),
 ('GA', 168867),
 ('TX', 142021),
 ('NC', 111277),
 ('FL', 90261),
 ('SC', 81315),
 ('NY', 80870),
 ('MS', 79230),
 ('AZ', 71586),
 ('AL', 66570),
 ('OR', 61088),
 ('MN', 44769),
 ('OK', 43239),
 ('MT', 40767),
 ('NM', 37478),
 ('ID', 36698),
 ('CO', 34157),
 ('WA', 33513),
 ('WI', 31861),
 ('AR', 31663),
 ('TN', 31154),
 ('SD', 30963),
 ('UT', 30725),
 ('LA', 30013),
 ('KY', 27089),
 ('NJ', 25949),
 ('PR', 22081),
 ('WV', 21967),
 ('VA', 21833),
 ('MO', 17953),
 ('NV', 16956),
 ('ND', 15201),
 ('WY', 14166),
 ('ME', 13150),
 ('AK', 12843),
 ('MI', 10502),
 ('HI', 9895),
 ('PA', 8712),
 ('NE', 7973),
 ('KS', 7673),
 ('CT', 4976),
 ('IA', 4134),
 ('MD', 3622),
 ('OH', 3479),
 ('MA', 2626),
 ('NH', 2452),
 ('IL', 2327),
 ('IN', 2098),
 ('RI', 480),
 ('VT', 456),
 ('DE', 171),
 ('DC', 66)]

In [12]:
%%sql
SELECT COUNT(DISTINCT wf.wildfire_id), wf.fire_size_class, ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM wildfires wf
JOIN weather_stations ws
ON wf.us_state = ws.us_state
JOIN weather_measurements wm
ON wm.station_id = ws.station_id
WHERE wf.discovery_date = wm.date
GROUP BY fire_size_class
ORDER BY fire_size_class;

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
7 rows affected.

[(665170, 'A', 18.29, 3.4, 0.33, 0.91),
 (921727, 'B', 17.32, 3.53, 0.17, 0.89),
 (217533, 'C', 17.27, 3.6, 0.12, 0.9),
 (28278, 'D', 18.36, 3.77, 0.12, 0.81),
 (14060, 'E', 19.28, 3.82, 0.12, 0.81),
 (7777, 'F', 20.12, 3.76, 0.09, 0.74),
 (3773, 'G', 19.44, 3.5, 0.04, 0.71)]

In [24]:
%%sql
SELECT ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM weather_measurements wm

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(12.89, 3.59, 2.34, 2.34)]