In [10]:
import configparser

In [34]:
config = configparser.ConfigParser()
config.read("dl.cfg")

user = config.get("redshift", "user")
password = config.get("redshift", "password")
host = config.get("redshift", "host")
database = config.get("redshift", "database")
port = config.get("redshift", "port")

In [35]:
con_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"
con_string

'postgresql://awsuser:XS4WxsxEsCJvWKt@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev'

In [36]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [37]:
%sql $con_string

## check across whole country on state level

In [23]:
%%sql
SELECT COUNT(DISTINCT wf.wildfire_id), wf.fire_size_class, ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM wildfires wf
JOIN weather_stations ws
ON wf.us_state = ws.us_state
JOIN weather_measurements wm
ON wm.station_id = ws.station_id
WHERE wf.discovery_date = wm.date
GROUP BY fire_size_class
ORDER BY fire_size_class;

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
7 rows affected.

[(665170, 'A', 18.29, 3.4, 0.33, 0.91),
 (921727, 'B', 17.32, 3.53, 0.17, 0.89),
 (217533, 'C', 17.27, 3.6, 0.12, 0.9),
 (28278, 'D', 18.36, 3.77, 0.12, 0.81),
 (14060, 'E', 19.28, 3.82, 0.12, 0.81),
 (7777, 'F', 20.12, 3.76, 0.09, 0.74),
 (3773, 'G', 19.44, 3.5, 0.04, 0.71)]

In [24]:
%%sql
SELECT ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM weather_measurements wm

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(12.89, 3.59, 2.34, 2.34)]

In [38]:
%%sql
SELECT COUNT(DISTINCT wf.wildfire_id), wf.fire_size_class, ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM wildfires wf
JOIN weather_stations ws
ON wf.us_state = ws.us_state
JOIN weather_measurements wm
ON wm.station_id = ws.station_id
WHERE wf.discovery_date = wm.date
AND ws.us_state = 'CA'
GROUP BY fire_size_class
ORDER BY fire_size_class;

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
(psycopg2.errors.UndefinedTable) relation "ff" does not exist

[SQL: SELECT COUNT(DISTINCT wf.wildfire_id), wf.fire_size_class, ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM wildfires wf
JOIN weather_stations ws
ON ff.us_state = ws.us_state
JOIN weather_measurements wm
ON wm.station_id = ws.station_id
WHERE wf.discovery_date = wm.date
AND ws.us_state = 'CA'
GROUP BY fire_size_class
ORDER BY fire_size_class;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [39]:
%%sql
SELECT ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM weather_measurements wm
WHERE ws.us_state = 'CA';

 * postgresql://awsuser:***@redshift-cluster-1.c4px3whroxcg.eu-west-1.redshift.amazonaws.com:5439/dev
(psycopg2.errors.UndefinedTable) relation "ws" does not exist

[SQL: SELECT ROUND(AVG(wm.tavg), 2) AS temp, ROUND(AVG(wm.awnd), 2) AS wind, ROUND(AVG(wm.snow), 2) AS snow, ROUND(AVG(wm.prcp), 2) AS rain
FROM weather_measurements wm
WHERE ws.us_state = 'CA';]
(Background on this error at: http://sqlalche.me/e/13/f405)